.advantages {
    min-height: 473px;
    padding: 73px 0 80px 0;
    background-color: #F6F6f6;
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 250px;
    }
    &__icon {
        display: block;
        max-width: 70px;
        max-height: 70px;
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 700;
        color: #0D0D0D;
        margin-top: 35px;
        text-align: center;
    }
    &__descr {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        height: 91px;
        a {
            color: $main-color;
            text-decoration: underline;
        }
    }
}