.reviews {
    min-height: 920px;
    &__post {
        margin-top: 60px;
        display: flex;
    }
    &__message {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 60px;
    }
    &__name {
        font-size: 18px;
        line-height: 18px;
        color: #0d0d0d;
        font-weight: 700;
    }
    &__marafons {
        margin-top: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        color: #0d0d0d;
    }
    &__avatar {
        width: 169px;
        height: 169px;
    }
}